<div class="row">
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="text-center card-title h3 mb-3 py-2 bg-body-tertiary">
          <%= @vacancy.name %>
        </h1>

        <p class="card-text"><%= simple_format(@vacancy.send("description_#{I18n.locale}")) %></p>
      </div>
    </div>
  </div>
</div>
