<nav id="sidebar" class="data-bs-theme col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div class="position-sticky">
    <ul class="nav flex-column">
      <%= render "admin/shared/main_menu" %>
      <hr>
      <%= render "admin/shared/link_tutorial" %>
    </ul>
  </div>
</nav>
