<div class="card shadow-sm">
  <div class="row g-0 align-items-stretch">
    <!-- Левая колонка с картинкой -->
    <div class="col-md-6 d-flex">
      <%= render "shared/attached_image", object: @mechanic %>
    </div>

    <!-- Правая колонка с текстом -->
    <div class="col-md-6 d-flex">
      <div class="card-body d-flex flex-column justify-content-center h-100">
        <h1 class="text-center card-title h3 mb-3"><%= @mechanic.name %></h1>
        <p class="card-text"><%= @mechanic.send("description_#{I18n.locale}") %></p>
      </div>
    </div>
  </div>
</div>
