<div class="col">
  <div class="card shadow-sm">
    <%= render "shared/attached_image", object: company %>
    <div class="card-body">
      <p class="card-text"><%= company.name %></p>
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to company_path(company), 
            class: "btn btn-sm btn-outline-secondary",
            title: "#{I18n.t('.view')} →" do %>
          <i class="bi bi-eye"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>