<div class="row">
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="text-center card-title h3 mb-3"><%= @terms_of_use_site.name %></h1>
        <% if @terms_of_use_site.description.present? %>
          <p class="card-text"><%= @terms_of_use_site.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
