<% content_for :title, I18n.t('terms_of_use_site') %>
<div class="row">
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="text-center card-title h3 mb-3"><%= @terms_of_use_site.name %></h1>

        <p class="card-text"><%= @terms_of_use_site.send("description_#{I18n.locale}") %></p>
      </div>
    </div>
  </div>
</div>
