<div class="row">
  <div class="col">
    <div class="card shadow-sm">
      <%= render "shared/attached_image", object: @about %>

      <div class="card-body">
        <h1 class="text-center card-title h3 mb-3"><%= @about.name %></h1>

        <% if @about.description.present? %>
          <p class="card-text"><%= @about.description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
