<div class="dropdown me-1">
  <button class="btn btn-sm btn-light border border-secondary-subtle dropdown-toggle"
          type="button"
          id="languageDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false">
    <i class="bi bi-translate"></i>
    <%= t("languages.#{I18n.locale}") %>
  </button>
  <ul class="dropdown-menu shadow" aria-labelledby="languageDropdown">
    <% [:kz, :ru, :en].each do |locale| %>
      <li>
        <%= link_to "?locale=#{locale}", class: "dropdown-item d-flex align-items-center gap-2" do %>
          <%= image_tag "flags/#{locale}.png", alt: "#{locale.upcase} Flag", class: "flag-icon" %>
          <span><%= t("languages.#{locale}") %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
